<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
      integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Document</title>
  </head>

  <body>
    <h1>Xin chaof <span id="username"></span></h1>
    <input type="text" id="oldpassword"/><br />
    <input type="text" id="newpassword"/><br /><br />
    <input type="text" id="repass" /><br />
    <button type="button" onclick="update()">Cập nhật</button>
    <script>
      async function initData() {
        let result = await axios({
          method: "POST",
          url: "/account/profile",
        });
        let userInfor = result.data.data;
        document.getElementById("username").innerHTML = userInfor.username;
      }
      initData();
      async function update() {
        let username = document.getElementById("username").innerHTML;
        let oldpassword = document.getElementById("oldpassword").value;
        let newpassword = document.getElementById("newpassword").value;
        let repass = document.getElementById("repass").value;
        console.log(oldpassword, newpassword);
        let result = await axios({
          method: "PUT",
          url: "/account/changePassword",
          data: {
            username,
            oldpassword,
            newpassword,
            repass,
          },
        }).then(async (data) => {
          alert(data.data.message);
          console.log("Response: ", data.data.data);
          await initData();
        });
      }
    </script>
  </body>
</html>