<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
        integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Đăng Bài</title>
</head>

<body>
    <h1>Quản Lý Đơn Hàng</h1>
    <label for="filterOrderStatus"> Lọc theo trạng thái đơn hàng</label>
    <select id="filterOrderStatus">
        <option value="">
            Tất Cả
        </option>
        <option value="0">
            Mới Tạo
        </option>
        <option value="1">
            Sẵn Sàng Ship
        </option>
        <option value="2">
            Đang Ship
        </option>
        <option value="3">
            Hoàn Thành
        </option>
        <option value="-1">
            Hủy
        </option>
    </select><br>


    <div>
        <h3>Các đơn hàng mới</h3>
        <div id="orderCards">

        </div>
    </div>
    <div>
        <h3>Các đơn hàng cũ</h3>
        <div id="orderTable">

        </div>
    </div>

    <script>
        var IntervalList = []
        var allOrder = []
        let newOrder = []
        var oldOrder = []
        async function getAllOrder() {
            let { data } =
                await axios({
                    method: 'get',
                    url: '/order/get-order',

                })
            allOrder = data.data;
        }

    </script>
    <style>
        .comment {
            padding: 0px 10px;
            background-color: pink;
            margin-bottom: 10px
        }

        .comment .p {
            margin: 0;
        }

        .comment-2 {
            padding: 0px 20px;
            background-color: lightpink;
            margin-bottom: 5px
        }

        .comment-2 .p {
            margin: 0;
        }

        .cancel {
            background-color: red;
            color: white
        }

        .chip {
            color: white;
            font-weight: 600;
            background-color: red;
            padding: 5px;
            margin: 0px 5px
        }
    </style>
</body>

</html>