<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
        integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Đăng Bài</title>
</head>

<body>
    <div>
        <input type="text" id="cookie" placeholder="Nhập Cookie Facebook của bạn"><br>
        <a target="_blank" href="https://chrome.google.com/webstore/detail/get-cookie/naciaagbkifhpnoodlkhbejjldaiffcm">
            Lấy cookie facebook tại đây
        </a><br>
        <input type="text" id="token" placeholder="Nhập Token Facebook của bạn"><br>
        <a target="_blank"
            href="https://chrome.google.com/webstore/detail/get-facebook-access-token/coaoigakadjdinfmepjlhfiichelcjpn">
            Lấy token facebook tại đây
        </a><br>
        <button type="button" onclick="addCookie()">
            Submit
        </button>
    </div>
    <div id="upload-form" style="display:none">
        Chọn Group: <select id="groupList"></select><br>
        Nội dung:<br><textarea id="content"></textarea><br>
        Ảnh Đính Kèm: <input type="file" id="attachments" name="images" multiple><br><br>
        Sản phẩm: <div id="products"></div><br>
        <img
            src="https://www.googleapis.com/storage/v1/b/facebook-sale-support-system.appspot.com/o/1644736157684--avt_MaiUyen.jpg">
        <button type="button" onclick="uploadPost()">Đăng Bài</button>
    </div>

    <script>
        var groupList = [];
        async function addCookie() {
            let cookie = document.getElementById('cookie').value;
            let token = document.getElementById('token').value;
            axios({
                method: 'POST',
                url: '/account/cookie',
                data: { fbCookie: cookie, fbToken: token }
            }).then(data => {
                if (data.data.data) {
                    document.getElementById('upload-form').style.display = 'block';
                    getGroupList()
                } else {
                    alert(data.data.message)
                }
            })
        }

        async function initCookie() {
            axios({
                method: 'get',
                url: '/account/cookie',
                data: { fbCooke: cookie }
            }).then(async data => {
                if (data.data.data?.status == 1) {
                    document.getElementById('cookie').value = data.data.data.data;
                    document.getElementById('upload-form').style.display = 'block';
                    await getGroupList()
                }
                else {
                    alert("Cookie hết hạn")
                }
            }).catch(error => {
                console.error("Init Cookie Fail: ", error)

            })
        }

        async function getGroupList() {
            console.log("Trigger Get Group List")
            await axios({
                method: 'GET',
                url: '/account/group-list'
            }).then(data => {
                console.log(data.data.data)
                document.getElementById('groupList').innerHTML = ''
                data.data.data.map(group => {
                    document.getElementById('groupList').innerHTML += `<option value="${group.groupId}">${group.name}</option>`
                    groupList.push(group)
                })
                initProduct()
            }).catch(error => {
                console.log("Lấy danh sách group thất bại", error)
            })
        }
        async function initProduct() {
            let result = await axios({
                method: 'GET',
                url: '/product/get'
            })
            let data = result.data.data
            document.getElementById('products').innerHTML = ''
            for (const prd of data) {
                document.getElementById('products').innerHTML +=
                    `<input class="item-product" type="checkbox" value="${prd._id}" /> Thêm ${prd.title} với giá ${prd.price}đ <br>`
            }
            if (data.length == 0) {
                document.getElementById('products').innerHTML += `<p> Không tìm thấy sản phẩm nào </p>`
            }

        }

        async function uploadPost() {
            let groupId = document.getElementById('groupList').value;
            let [selectedGroup] = groupList.filter(group => group.groupId == groupId)
            console.log(selectedGroup)
            let content = document.getElementById('content').value;
            let attachments = document.getElementById('attachments').value;
            let productList = document.getElementsByClassName('item-product')
            let products = []
            for (let dom of productList) {
                if (dom.checked) {
                    products.push(dom.value)
                }
            }
            let attachmentList = await uploadAttachments();
            let result = await axios({
                method: 'POST',
                url: '/post/create',
                data: {
                    content,
                    group: selectedGroup,
                    products,
                    attachments: attachmentList,
                }
            })
            alert(result.data.message)
            if (result.data.data) {
                console.log(result.data.data._id)
                let url = '/test/sell-control/' + result.data.data._id
                window.location.href = url
            }
        }

        async function uploadAttachments() {
            var formData = new FormData();
            var attachments = document.querySelector('#attachments');
            console.log("Upload: ", attachments.files.length)
            for (let i = 0; i < attachments.files.length; i++) {
                const file = attachments.files[i];
                formData.append('images', file)

            }
            let result = await axios.post('/uploadfile', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(data => {
                console.log("Phản hồi upload: ", data.data)
                return data.data.data
            })
            console.log("Dữ liệu đính kèm: ", result)
            return result
        }

        // initCookie()
    </script>
</body>

</html>