<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
        integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Đăng Bài</title>
</head>

<body>
    <div>
        <input type="text" id="cookie" placeholder="Nhập Cookie Facebook của bạn"><br>
        <a target="_blank" href="https://chrome.google.com/webstore/detail/get-cookie/naciaagbkifhpnoodlkhbejjldaiffcm">
            Lấy cookie facebook tại đây
        </a><br>
        <button type="button" onclick="addCookie()">
            Submit
        </button>
    </div>
    <div id="upload-form" style="display:none">
        Chọn Group: <select id="groupList"></select><br>
        Nội dung:<br><textarea id="content"></textarea><br>
        Ảnh Đính Kèm: <input type="file" id="attachments" name="images" multiple><br><br>
        Sản phẩm: <select id="products"></select><br>
        <img
            src="https://www.googleapis.com/storage/v1/b/facebook-sale-support-system.appspot.com/o/1644736157684--avt_MaiUyen.jpg">
        <button type="button" onclick="uploadPost()">Đăng Bài</button>
    </div>

    <script>
        async function addCookie() {
            let cookie = document.getElementById('cookie').value;
            axios({
                method: 'POST',
                url: '/account/cookie',
                data: { fbCookie: cookie }
            }).then(data => {
                if (data.data.data) {
                    document.getElementById('upload-form').style.display = 'block';
                    getGroupList()
                } else {
                    alert(data.data.message)
                }
            })
        }

        async function initCookie() {
            axios({
                method: 'get',
                url: '/account/cookie',
                data: { fbCooke: cookie }
            }).then(async data => {
                if (data.data.data?.status == 1) {
                    document.getElementById('cookie').value = data.data.data.data;
                    document.getElementById('upload-form').style.display = 'block';
                    await getGroupList()
                }
                else {
                    alert("Cookie hết hạn")
                }
            }).catch(error => {
                console.error("Init Cookie Fail: ", error)

            })
        }

        async function getGroupList() {
            console.log("Trigger Get Group List")
            await axios({
                method: 'GET',
                url: '/account/group-list'
            }).then(data => {
                console.log(data.data.data)
                document.getElementById('groupList').innerHTML = ''
                data.data.data.map(group => {
                    document.getElementById('groupList').innerHTML += `<option value="${group.groupId}">${group.name}</option>`
                })
                dumpProduct()
            }).catch(error => {
                console.log("Lấy danh sách group thất bại", error)
            })
        }
        function dumpProduct() {
            let products = [{ name: "Cơm rang", price: 30000, id: 1 }, { name: "Cơm rang", price: 30000, id: 2 }, { name: "Cơm rang", price: 30000, id: 3 }, { name: "Cơm rang", price: 30000, id: 4 }
            ]
            document.getElementById('products').innerHTML = ''
            products.map(product => {
                document.getElementById('products').innerHTML += `<option value="${product.id}">${product.name} - ${product.price}</option>`
            })

        }

        async function uploadPost() {
            let groupId = document.getElementById('groupList').value;
            let content = document.getElementById('content').value;
            let attachments = document.getElementById('attachments').value;
            let product = document.getElementById('products').value
            console.log(groupId)
            console.log(content)
            console.log(product)
            let attachmentList = uploadAttachments();
            let result = await axios({
                method: 'POST',
                url: '/post/create',
                data: {
                    content,
                    groupId,
                    product,
                    attachments: attachmentList,
                }
            })
            alert(result.data.message)

        }

        async function uploadAttachments() {
            var formData = new FormData();
            var attachments = document.querySelector('#attachments');
            console.log("Upload: ", attachments.files.length)
            for (let i = 0; i < attachments.files.length; i++) {
                const file = attachments.files[i];
                formData.append('images', file)

            }
            let result = await axios.post('/uploadfile', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(data => {
                return data.data.data
            })
            return result
        }

        // initCookie()
    </script>
</body>

</html>